.metabox {
  position: relative;
  display: inline-block;

  background-color: transparent;
  max-width: 90vw;
  
  padding: 10px 15px;

  overflow: hidden;
  
  &--editor {
    z-index: 100;
  }

  &--position-up {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &--position-down {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }

  &--align-with-post {
    left: 0;
    right: 0;

    display: flex;
    
    
    max-width: 960px;
    margin-inline: auto;
  }

  &--with-home-link {
    padding: 0;

    &::before {
      left: 5px;
    }

    p {
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  &__main {
    padding: 10px 15px 10px 11px;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: $white;

    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

    &::before {
      content: "";
      position: absolute;
      
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
  
      background-color: $secondary-color;
    }

  }

  a {
    color: $white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  & &__blog-home-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    
    background-color: $primary-color;
    
    color: #fff;
    font-weight: normal;
    
    border-radius: 3px 0 0 3px;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color;

    &:hover {
      text-decoration: none;
      background-color: $primary-color;
    }
  }
}
