<!-- wp:cetacean-university-theme/header {"className":"wp-block-cetacean-university-theme-header site-header"} -->
    <!-- wp:cetacean-university-theme/menu /-->
<!-- /wp:cetacean-university-theme/header -->

<!-- wp:cetacean-university-theme/page-banner-generic -->
    <!-- wp:cetacean-university-theme/page-banner-title {"text":"Our Campuses"} -->
    <h1 class="wp-block-cetacean-university-theme-page-banner-title page-banner__title">Our Campuses</h1>
    <!-- /wp:cetacean-university-theme/page-banner-title -->

    <!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"All our Campuses are shown here!"} -->
    <div class="wp-block-cetacean-university-theme-page-banner-subtitle page-banner__intro">
        <p>All our Campuses are shown here!</p>
    </div>
    <!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/campuses-map /-->

<!-- wp:cetacean-university-theme/footer {"phoneNumber":"5555.5555.5555","links":{"twitter":"https://x.com/","facebook":"https://www.facebook.com/?locale=pt_BR","youtube":"https://www.youtube.com/","linkedin":"https://www.linkedin.com/","instagram":"https://www.instagram.com/"},"className":"wp-block-cetacean-university-theme-footer site-footer"} /-->