<!-- wp:cetacean-university-theme/header {"className":"wp-block-cetacean-university-theme-header site-header"} -->
<!-- wp:cetacean-university-theme/menu /-->
<!-- /wp:cetacean-university-theme/header -->

<!-- wp:cetacean-university-theme/banner {"className":"wp-block-cetacean-university-theme-banner page-banner"} -->
<!-- wp:cetacean-university-theme/heading {"text":"Welcome!!!"} -->
<h1 class="wp-block-cetacean-university-theme-heading headline headline--large">Welcome!!!</h1>
<!-- /wp:cetacean-university-theme/heading -->

<!-- wp:cetacean-university-theme/heading {"text":"We think you’ll like it here.","size":"medium"} -->
<h2 class="wp-block-cetacean-university-theme-heading headline headline--medium">We think you’ll like it here.</h2>
<!-- /wp:cetacean-university-theme/heading -->

<!-- wp:cetacean-university-theme/heading {"text":"Check out our majors and enroll today!","size":"small"} -->
<h3 class="wp-block-cetacean-university-theme-heading headline headline--small">Check out our majors and enroll today!
</h3>
<!-- /wp:cetacean-university-theme/heading -->

<!-- wp:cetacean-university-theme/button {"text":"Find Your Major","color":"#ffffff","animations":{"onHover":"slide-from-top"}} -->
<a class="wp-block-cetacean-university-theme-button btn btn--large btn--slide-from-top"
    style="--background-color:var(--wp--preset--color--primary);--color:#ffffff">Find Your Major</a>
<!-- /wp:cetacean-university-theme/button -->
<!-- /wp:cetacean-university-theme/banner -->

<!-- wp:cetacean-university-theme/events-and-posts {"className":"wp-block-cetacean-university-theme-events-and-posts"} /-->

<!-- wp:cetacean-university-theme/slider -->
<div class="wp-block-cetacean-university-theme-slider hero-slider">
    <div data-glide-el="track" class="glide__track">
        <div class="glide__slides">
            <!-- wp:cetacean-university-theme/slide {"className":"wp-block-cetacean-university-theme-slide hero-slider__slide"} -->
            <!-- wp:cetacean-university-theme/heading {"text":"Free Transportation","size":"medium"} -->
            <h2 class="wp-block-cetacean-university-theme-heading headline headline--medium">Free Transportation</h2>
            <!-- /wp:cetacean-university-theme/heading -->

            <!-- wp:paragraph -->
            <p>All students have free boat trips to our campuses.</p>
            <!-- /wp:paragraph -->

            <!-- wp:cetacean-university-theme/button {"text":"Learn More","size":"medium","animations":{"onHover":"slide-from-top"}} -->
            <a class="wp-block-cetacean-university-theme-button btn btn--medium btn--slide-from-top"
                style="--background-color:var(--wp--preset--color--primary);--color:var(--wp--preset--color--white)">Learn
                More</a>
            <!-- /wp:cetacean-university-theme/button -->
            <!-- /wp:cetacean-university-theme/slide -->

            <!-- wp:cetacean-university-theme/slide {"imageDefault":"/images/sardine.jpg","className":"wp-block-cetacean-university-theme-slide hero-slider__slide"} -->
            <!-- wp:cetacean-university-theme/heading {"text":"Free Food","size":"medium"} -->
            <h2 class="wp-block-cetacean-university-theme-heading headline headline--medium">Free Food</h2>
            <!-- /wp:cetacean-university-theme/heading -->

            <!-- wp:paragraph -->
            <p>Cetacean University offers lunch plans for those in need.</p>
            <!-- /wp:paragraph -->

            <!-- wp:cetacean-university-theme/button {"text":"Learn More","size":"medium","animations":{"onHover":"slide-from-top"}} -->
            <a class="wp-block-cetacean-university-theme-button btn btn--medium btn--slide-from-top"
                style="--background-color:var(--wp--preset--color--primary);--color:var(--wp--preset--color--white)">Learn
                More</a>
            <!-- /wp:cetacean-university-theme/button -->
            <!-- /wp:cetacean-university-theme/slide -->

            <!-- wp:cetacean-university-theme/slide {"imageDefault":"/images/salmon.jpg","className":"wp-block-cetacean-university-theme-slide hero-slider__slide"} -->
            <!-- wp:cetacean-university-theme/heading {"text":"A Salmon a Day","size":"medium"} -->
            <h2 class="wp-block-cetacean-university-theme-heading headline headline--medium">A Salmon a Day</h2>
            <!-- /wp:cetacean-university-theme/heading -->

            <!-- wp:paragraph -->
            <p>Our healthcare program recommends eating salmons.</p>
            <!-- /wp:paragraph -->

            <!-- wp:cetacean-university-theme/button {"text":"Learn More","size":"medium","animations":{"onHover":"slide-from-top"}} -->
            <a class="wp-block-cetacean-university-theme-button btn btn--medium btn--slide-from-top"
                style="--background-color:var(--wp--preset--color--primary);--color:var(--wp--preset--color--white)">Learn
                More</a>
            <!-- /wp:cetacean-university-theme/button -->
            <!-- /wp:cetacean-university-theme/slide -->

            <!-- wp:cetacean-university-theme/slide {"imageDefault":"/images/classroom.jpg","className":"wp-block-cetacean-university-theme-slide hero-slider__slide"} -->
            <!-- wp:cetacean-university-theme/heading {"text":"Check out Our Majors!","size":"medium"} -->
            <h2 class="wp-block-cetacean-university-theme-heading headline headline--medium">Check out Our Majors!</h2>
            <!-- /wp:cetacean-university-theme/heading -->

            <!-- wp:paragraph -->
            <p>Take a look at our programs and enroll today!</p>
            <!-- /wp:paragraph -->

            <!-- wp:cetacean-university-theme/button {"text":"See Majors","size":"medium","animations":{"onHover":"slide-from-top"},"linkObject":{"url":"/programs"}} -->
            <a href="/programs" class="wp-block-cetacean-university-theme-button btn btn--medium btn--slide-from-top"
                style="--background-color:var(--wp--preset--color--primary);--color:var(--wp--preset--color--white)">See
                Majors</a>
            <!-- /wp:cetacean-university-theme/button -->
            <!-- /wp:cetacean-university-theme/slide -->
        </div>
        <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]"></div>
    </div>
</div>
<!-- /wp:cetacean-university-theme/slider -->

<!-- wp:cetacean-university-theme/footer {"phoneNumber":"5555.5555.5555","links":{"twitter":"https://x.com/","facebook":"https://www.facebook.com/?locale=pt_BR","youtube":"https://www.youtube.com/","linkedin":"https://www.linkedin.com/","instagram":"https://www.instagram.com/"},"className":"wp-block-cetacean-university-theme-footer site-footer"} /-->