<!-- wp:template-part {"slug":"site-header","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
    <!-- wp:cetacean-university-theme/page-banner-title {"text":"My Notes"} -->
    <h1 class="wp-block-cetacean-university-theme-page-banner-title page-banner__title">My Notes</h1>
    <!-- /wp:cetacean-university-theme/page-banner-title -->

    <!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"Manage your personal notes here!"} -->
    <div class="wp-block-cetacean-university-theme-page-banner-subtitle page-banner__intro">
        <p>Manage your personal notes here!</p>
    </div>
    <!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/note-manager /-->

<!-- wp:template-part {"slug":"site-footer","area":"footer"} /-->