<!-- wp:cetacean-university-theme/header {"className":"wp-block-cetacean-university-theme-header site-header"} -->
    <!-- wp:cetacean-university-theme/menu /-->
<!-- /wp:cetacean-university-theme/header -->

<!-- wp:cetacean-university-theme/page-banner-generic {"enableMetabox":true,"metaboxInfo":{"homeLinkText":"All Posts","mainText":"Posted by #{Post Author With Link} on #{Post Date} in #{Post Category List With Link}","showConditionalVariables":["#{Post Author With Link}","#{Post Date}","#{Post Category List With Link}"],"homeLinkObject":{"url":"#{Blog Link}","title":"Blog Link","type":"Variable"}}} -->
    <!-- wp:cetacean-university-theme/page-banner-title {"text":"#{Post/Page Title}","showConditionalVariables":["#{Post/Page Title}"]} -->
    <h1 class="wp-block-cetacean-university-theme-page-banner-title page-banner__title">#{Post/Page Title}</h1>
    <!-- /wp:cetacean-university-theme/page-banner-title -->

    <!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"#{Post/Page Subtitle}","showConditionalVariables":["#{Post/Page Title}","#{Post/Page Subtitle}"]} -->
    <div class="wp-block-cetacean-university-theme-page-banner-subtitle page-banner__intro">
        <p>#{Post/Page Subtitle}</p>
    </div>
    <!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/post-content /-->

<!-- wp:cetacean-university-theme/footer {"phoneNumber":"5555.5555.5555","links":{"twitter":"https://x.com/","facebook":"https://www.facebook.com/?locale=pt_BR","youtube":"https://www.youtube.com/","linkedin":"https://www.linkedin.com/","instagram":"https://www.instagram.com/"},"className":"wp-block-cetacean-university-theme-footer site-footer"} /-->