$beige: #FAF0CA;
$main-yellow: #F4D35E;
$main-blue: #0D3B66;
$light-orange: #EE964B;
$dark-orange: #F95738;

$dolphin: #86c4da;
$whales-tale: #115a82;

$white: #fff;
$black: #000;
$dark-gray: #333;
$light-gray: #ddd;

$primary-color: var(--wp--preset--color--primary, $whales-tale);
$secondary-color: var(--wp--preset--color--secondary, $dolphin);
