<!-- wp:template-part {"slug":"site-header","theme":"cetacean-university-block-json-theme","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
<!-- wp:cetacean-university-theme/page-banner-title {"text":"Our Campuses","className":"wp-block-cetacean-university-theme-page-banner-title"} -->
<h1 class="page-banner__title">Our Campuses</h1>
<!-- /wp:cetacean-university-theme/page-banner-title -->

<!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"All our Campuses are shown here!","className":"wp-block-cetacean-university-theme-page-banner-subtitle"} -->
<div class="page-banner__intro"><p>All our Campuses are shown here!</p></div>
<!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/campuses-map /-->

<!-- wp:template-part {"slug":"site-footer","theme":"cetacean-university-block-json-theme","area":"footer"} /-->