<!-- wp:template-part {"slug":"site-header","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
    <!-- wp:cetacean-university-theme/page-banner-title {"text":"Our Campuses"} -->
    <h1 class="wp-block-cetacean-university-theme-page-banner-title page-banner__title">Our Campuses</h1>
    <!-- /wp:cetacean-university-theme/page-banner-title -->

    <!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"All our Campuses are shown here!"} -->
    <div class="wp-block-cetacean-university-theme-page-banner-subtitle page-banner__intro">
        <p>All our Campuses are shown here!</p>
    </div>
    <!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/campuses-map /-->

<!-- wp:template-part {"slug":"site-footer","area":"footer"} /-->