<!-- wp:template-part {"slug":"site-header","theme":"cetacean-university-block-json-theme","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
<!-- wp:cetacean-university-theme/page-banner-title {"text":"Programs","className":"wp-block-cetacean-university-theme-page-banner-title"} -->
<h1 class="page-banner__title">Programs</h1>
<!-- /wp:cetacean-university-theme/page-banner-title -->

<!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"Check all of our programs!","className":"wp-block-cetacean-university-theme-page-banner-subtitle"} -->
<div class="page-banner__intro"><p>Check all of our programs!</p></div>
<!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/all-programs /-->

<!-- wp:template-part {"slug":"site-footer","theme":"cetacean-university-block-json-theme","area":"footer"} /-->