<!-- wp:template-part {"slug":"site-header","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic {"bannerImageId":864} -->
    <!-- wp:cetacean-university-theme/page-banner-title {"text":"Programs"} -->
    <h1 class="wp-block-cetacean-university-theme-page-banner-title page-banner__title">Programs</h1>
    <!-- /wp:cetacean-university-theme/page-banner-title -->

    <!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"Check all of our programs!"} -->
    <div class="wp-block-cetacean-university-theme-page-banner-subtitle page-banner__intro">
        <p>Check all of our programs!</p>
    </div>
    <!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/all-programs /-->

<!-- wp:template-part {"slug":"site-footer","area":"footer"} /-->