<!-- wp:template-part {"slug":"site-header","theme":"cetacean-university-block-json-theme","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
<!-- wp:cetacean-university-theme/page-banner-title {"text":"Our Blog","className":"wp-block-cetacean-university-theme-page-banner-title"} -->
<h1 class="page-banner__title">Our Blog</h1>
<!-- /wp:cetacean-university-theme/page-banner-title -->

<!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"Check out our latest posts!","className":"wp-block-cetacean-university-theme-page-banner-subtitle"} -->
<div class="page-banner__intro"><p>Check out our latest posts!</p></div>
<!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/blog-posts /-->

<!-- wp:template-part {"slug":"site-footer","theme":"cetacean-university-block-json-theme","area":"footer"} /-->