<!-- wp:template-part {"slug":"site-header","theme":"cetacean-university-block-json-theme","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
<!-- wp:cetacean-university-theme/page-banner-title {"text":"Search","className":"wp-block-cetacean-university-theme-page-banner-title"} -->
<h1 class="page-banner__title">Search</h1>
<!-- /wp:cetacean-university-theme/page-banner-title -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/search-form -->
<div class="container container--narrow page-section"><div class="generic-content"><form class="search-form" action="#{Search Form Action Link}" method="get"><label class="headline headline--medium" for="search-input">What are you searching for?</label><div class="search-form-row"><input id="search-input" class="s" type="search" placeholder="Type what you want to search for!" name="s"/><button class="search-submit btn btn--primary btn--slide-from-top" type="submit">Search</button></div></form></div></div>
<!-- /wp:cetacean-university-theme/search-form -->

<!-- wp:template-part {"slug":"site-footer","theme":"cetacean-university-block-json-theme","area":"footer"} /-->