<!-- wp:template-part {"slug":"site-header","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic -->
    <!-- wp:cetacean-university-theme/page-banner-title {"text":"Past Events"} -->
    <h1 class="wp-block-cetacean-university-theme-page-banner-title page-banner__title">Past Events</h1>
    <!-- /wp:cetacean-university-theme/page-banner-title -->

    <!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"Remember our past events!"} -->
    <div class="wp-block-cetacean-university-theme-page-banner-subtitle page-banner__intro">
        <p>Remember our past events!</p>
    </div>
    <!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/past-events /-->

<!-- wp:template-part {"slug":"site-footer","area":"footer"} /-->