<!-- wp:template-part {"slug":"site-header","theme":"cetacean-university-block-json-theme","area":"header"} /-->

<!-- wp:cetacean-university-theme/page-banner-generic {"enableMetabox":true,"metaboxInfo":{"homeLinkText":"All Posts","mainText":"Posted by #{Post Author With Link} on #{Post Date} in #{Post Category List With Link}","showConditionalVariables":["#{Post Author With Link}","#{Post Date}","#{Post Category List With Link}"],"homeLinkObject":{"url":"#{Blog Link}","title":"Blog Link","type":"Variable"}}} -->
<!-- wp:cetacean-university-theme/page-banner-title {"text":"#{Post/Page Title}","showConditionalVariables":["#{Post/Page Title}"],"className":"wp-block-cetacean-university-theme-page-banner-title"} -->
<h1 class="page-banner__title">#{Post/Page Title}</h1>
<!-- /wp:cetacean-university-theme/page-banner-title -->

<!-- wp:cetacean-university-theme/page-banner-subtitle {"text":"#{Post/Page Subtitle}","showConditionalVariables":["#{Post/Page Title}","#{Post/Page Subtitle}"],"className":"wp-block-cetacean-university-theme-page-banner-subtitle"} -->
<div class="page-banner__intro"><p>#{Post/Page Subtitle}</p></div>
<!-- /wp:cetacean-university-theme/page-banner-subtitle -->
<!-- /wp:cetacean-university-theme/page-banner-generic -->

<!-- wp:cetacean-university-theme/post-content /-->

<!-- wp:template-part {"slug":"site-footer","theme":"cetacean-university-block-json-theme","area":"footer"} /-->